body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Headings*/
.Header--main{
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}
.Head--2{
    font-weight: 300;
    font-size: 42px;
    color: #fff;
}
.Line--2{
    font-size: 21px;
    color: gray;
}
/*Links*/
.Link--cta{
    font-size: 16px;
    color: aquamarine;
}
/*Footer*/
.Footer--edge{
    text-align: right;
    font-size: 21px;
    color: gray;
}